# Inferential Statistics:

Are there variables that are particularly significant in terms of explaining the answer to your project question?

Variables that are significant are crime subcategories, area and neighborhood, and report sums. 

Are there strong correlations between pairs of independent variables or between an independent and a dependent variable?

We predict that there are strong correlations between sum of report numbers and area/neighborhood. We can dive into whether or 
not these variables are correlated. 

Null hypothesis: The sum of report numbers between different neighborhoods are the same.

Alternative hypothesis: The sum of report numbers between different neighborhoods are different.

In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF

import numpy as np
import pandas as pd
import scipy
from pandas import DataFrame

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
# Importing the dataframe (same one used in Tableau)
df = pd.read_csv('C:/Users/jennywhojennyvu/Desktop/Capstone_2/Crime_Data.csv')
df.head()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,1.975000e+12,12/16/1975,900.0,12/16/1975,1500.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTH,R,R3,LAKEWOOD/SEWARD PARK
1,1.976000e+12,1/1/1976,1.0,1/31/1976,2359.0,SEX OFFENSE-OTHER,SEXOFF-INDECENT LIBERTIES,UNKNOWN,NaN,NaN,UNKNOWN
2,1.979000e+12,1/28/1979,1600.0,2/9/1979,1430.0,CAR PROWL,THEFT-CARPROWL,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
3,1.981000e+13,8/22/1981,2029.0,8/22/1981,2030.0,HOMICIDE,HOMICIDE-PREMEDITATED-WEAPON,SOUTH,S,S2,BRIGHTON/DUNLAP
4,1.981000e+12,2/14/1981,2000.0,2/15/1981,435.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTHWEST,W,W3,ROXHILL/WESTWOOD/ARBOR HEIGHTS

In [3]:
df = df[['Report Number','Occurred Date','Occurred Time','Reported Date','Reported Time', 'Crime Subcategory', 'Primary Offense Description', 'Precinct', 'Sector', 'Beat', 'Neighborhood']]

In [4]:
# Changing column names
df.columns = ['Report_Number', 'Occurred_Date', 'Occurred_Time', 'Reported_Date', 'Reported_Time', 'Crime_Subcategory', 'Primary_Offense_Description', 'Precinct', 'Sector', 'Beat', 'Neighborhood']

In [18]:
# Importing the dataframe (for ANOVA)
year = pd.read_csv('C:/Users/jennywhojennyvu/Desktop/Capstone_2/seattle-crime-stats-by-1990-census-tract-1996-2007.csv')
year.head()

   Report_Year  Census_Tract_1990               Crime_Type  Report_Year_Total
0         1996                1.0       Aggravated Assault                 11
1         1996                1.0                 Homicide                  0
2         1996                1.0  NonResidential Burglary                 41
3         1996                1.0    Property Crimes Total                430
4         1996                1.0                     Rape                  2

In [19]:
year.Report_Year.values

array([1996, 1996, 1996, ..., 2007, 2007, 2007], dtype=int64)

In [20]:
# add column for violent vs. nonviolent and compare to neighborhoods, and then run ANOVA 
# look at crime subcategory, column.isin 
# datetime, day of week, month, year

In [21]:
# How many crime reports are in each neighborhood?
#df['Neighborhood'].value_counts()

In [22]:
year.count()

Report_Year          14268
Census_Tract_1990    14236
Crime_Type           14268
Report_Year_Total    14268
dtype: int64

# One-Way ANOVA

We will be taking a look at Analysis of Variance Test or ANOVA. We will be conducting the One-Way ANOVA to compare if the crime reports in different years are equal. 
Whereas the Two-Way ANOVA compares two or more variables and how they are related to the variable in question.

Null hypothesis: The crime reports between different years are the same.

Alternative hypothesis: The crime reports between different years are different.

In [23]:
m = ols('Report_Year_Total ~ Report_Year',year).fit()

In [24]:
print(m.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Report_Year_Total   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     64.73
Date:                Wed, 18 Sep 2019   Prob (F-statistic):           9.29e-16
Time:                        10:19:52   Log-Likelihood:                -93838.
No. Observations:               14268   AIC:                         1.877e+05
Df Residuals:                   14266   BIC:                         1.877e+05
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    7005.6035    861.443      8.132      0.000    5317.062    8694.145
Report_Year    -3.4629      0.430     -8.045      0.000      -4.307      -2.619
==============================================================================
Omnibus:                    19685.717   Durbin-Watson:                   2.061
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8102405.724
Skew:                           7.876   Prob(JB):                         0.00
Kurtosis:                     118.675   Cond. No.                     1.18e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.18e+06. This might indicate that there are
strong multicollinearity or other numerical problems.